@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.overlap {
    position: relative;
}

.avatar {
    box-sizing: border-box;
    border: 3px solid rgb(245, 244, 244);
}

h1 {
    font-weight: bold;
    font-family: 'Varela Round';
}

tr, td, th
{
    border:0px solid transparent;
    border-collapse: collapse;
}