@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
.button {
    border: 1px solid blue;
    font-family: 'Varela Round';
    border-radius: 15px;
    font-size: large;
}